<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dbms Mini Projext</title>
</head>
<body>
  <header style="background-color: black; color:white;text-align:center">
    <h1 >Erp System</h1>
    <nav style="text-align:center; justify-content: space-between">
      <a href="">Home</a>
      <a href="">Student</a>
      <a href="">Teacher</a>
    </nav>
  </header>
  <img src="https://d66c6d1a-b099-454f-9b61-63a35377bb67-00-21sl5ksl07b3z.pike.replit.dev/static/cllg.jpg" alt="pracImage" height="300" style="justify-content: center; align-items: center; display: block; margin: auto"></img>
  <h2 style="text-align:center; color: yellow">Welcome to Erp System</h2>
  <p style="text-align: center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nobis accusantium repellendus, consectetur asperiores nesciunt magnam deserunt incidunt officia minus culpa unde dolor accusamus aperiam sapiente alias voluptatum aliquam tenetur.</p>
  <h2 style="text-align:center;  color: yellow">How to use</h2>
  <p style="text-align: center"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ducimus vero recusandae inventore eveniet tenetur esse numquam accusantium voluptatem architecto consectetur, eos pariatur, modi impedit doloribus excepturi dignissimos qui itaque culpa assumenda aspernatur deleniti, nemo sapiente aut. Suscipit, provident animi voluptate eius culpa corporis sint maiores iusto nesciunt cum ad.</p>
  <footer style="background-color: black; color: white;align-items: center; text-align:center">
    <p>Created by &copy; Tushar </p>
    <p>Created on <span class="date"></span> </p>
    <nav style="justify-content: space-evenly; color: red">
      <a href="">Erp Website</a>
      <a href="">Help</a>
    </nav>
  </footer>
  
</body>
  <script>let date=new Date()
    const display=document.querySelector(".date")
  d=date.getFullYear()
  display.innerHTML=d</script>
</html>